In [2]:
import numpy as  np
import pandas as pd

In [3]:
data = pd.read_csv('MCQ_Dataset.csv')
diff = data['Difficulty']
con = data['Concept']
key = data['Correct']
A = data['A']
B = data['B']
C = data['C']
D = data['D']

In [4]:
c = {1: 30, 2: 30, 3: 30, 4: 30, 5: 20, 6: 22, 7: 25+9, 8: 12, 9: 23}
d = {1: [10,10,10], 2: [10,10,10], 3: [10,10,10], 4: [10,10,10], 5: [5,10,5], 6: [8,10,4], 7: [8,17,9], 8: [3,6,3],9: [4,10,9]}
c_a = np.zeros(len(con))
d_a = np.zeros(len(diff))

In [5]:
n = 1
k = 1
for i in range(1,len(c)+1):
    c_a[k-1:k+c[n]-1] = n
    k = k + c[n]
    n = n+1

In [6]:
concepts = pd.Series([''])
concepts = c_a
data['Concept'] = concepts

In [7]:
n = 1
k = 1
for i in range(1,len(d)+1):
    d_a[k-1:k+d[n][0]-1] = 1
    d_a[k+d[n][0]-1:k+d[n][0]+d[n][1]-1] = 2
    d_a[k+d[n][0]+d[n][1]-1:k+d[n][0]+d[n][1]+d[n][2]-1] = 3    
    k = k + c[n]
    n = n+1

In [8]:
difficulties = pd.Series([''])
difficulties = d_a
data['Difficulty'] = difficulties

In [9]:
for i in range(len(data)):
 if(key.iloc[i] == A.iloc[i]):
    key.iloc[i] = "A"
 if(key.iloc[i] == B.iloc[i]):
    key.iloc[i] = "B"
 if(key.iloc[i] == C.iloc[i]):
    key.iloc[i] = "C"
 if(key.iloc[i] == D.iloc[i]):
    key.iloc[i] = "D"

C:\Users\A.BHAVANA\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [17]:
df = data.drop(data.columns[0], axis=1)
df.to_csv('MCQ_Dataset1.csv')

In [18]:
data.head()

,Unnamed: 0,Questions,Correct,A,B,C,D,Concept,Difficulty
0,0,Knowing that Vijay's expenditure for first 3...,C,Rs. 220,Rs. 60,Rs. 50,Rs. 90,1.0,1.0
1,1,"Without considering the salary of the boss, t...",D,Rs. 30000,Rs. 27000,Rs. 36000,Rs. 29000,1.0,1.0
2,2,What will be average price of all the goods ...,B,Rs. 9,Rs. 6,Rs. 5.5,Rs. 8.25,1.0,1.0
3,3,How much will be the average of the squares o...,C,612.5,1225,426,324,1.0,1.0
4,4,Find average of natural numbers from 1 to 65?,A,33,32.5,130,65,1.0,1.0